<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net472" />
  <package id="DotNetZip" version="1.13.7" targetFramework="net472" />
  <package id="ExpressionEvaluator" version="2.0.4.0" targetFramework="net472" />
  <package id="FluentFTP" version="32.2.2" targetFramework="net472" />
  <package id="ftplib" version="1.0.1.2" targetFramework="net472" />
  <package id="GSF.Core" version="2.3.173" targetFramework="net472" />
  <package id="GSF.Net" version="2.3.173" targetFramework="net472" />
  <package id="NAudio" version="1.10.0" targetFramework="net472" />
</packages>